<div class="row">
  <aside class="login col-3 bodyBackground mt-3">
    <h2 class="spray gray">
      login:
    </h2>
    <div action="/login" method="post">
      <div class="item">
        <div>
          <label for="email"><b>email:</b></label>
          <input
            id="loginEmail"
            type="text"
            placeholder="enter email"
            name="email"
            required
          />
        </div>
        <div>
          <label for="password"><b>password:</b></label>
          <input
            id="loginPassword"
            type="password"
            placeholder="enter password"
            name="password"
            required
          />
        </div>
        <div>
          <input id="loginBtn" type="submit" name="submit-btn" />
        </div>
      </div>
    </div>
    <h2 class="mt-5 spray gray">
      signup:
    </h2>
    <div class="item" action="/signup" method="post">
      <div>
        <label for="first_name"><b>firstname:</b></label>
        <input
          id="signupFirstName"
          type="text"
          placeholder="enter firstname"
          name="first_name"
          required
        />
      </div>
      <div>
        <label for="last_name"><b>lastname:</b></label>
        <input
          id="signupLastName"
          type="text"
          placeholder="enter lastname"
          name="last_name"
          required
        />
      </div>
      <div>
        <label for="email"><b>email:</b></label>
        <input
          id="signupEmail"
          type="email"
          placeholder="enter email"
          name="email"
          required
        />
      </div>
      <div>
        <label for="username"><b>username:</b></label>
        <input
          id="signupUserName"
          type="text"
          placeholder="enter username"
          name="username"
          required
        />
      </div>
      <div>
        <label for="password"><b>password:</b></label>
        <input
          id="signupPassword"
          type="password"
          placeholder="enter password"
          name="password"
          required
        />
      </div>
      <div>
        <input id="signupBtn" type="submit" name="signup-btn" />
      </div>
    </div>
  </aside>
  <section class="col-9 bodyBackground border-left border-right mt-3 box">
    <h2 class="spray gray">
      dreamsß:
    </h2>
    <ul>
      {{#each dreamsData as |dream|}}
        <li class="item">
          <h3>
            {{dataValues.title}}
          </h3>
          <h4>
            {{dataValues.createdAt}}
          </h4>
          <p>
            {{dataValues.description}}
          </p>
        </li>
      {{/each}}
    </ul>
    <h2 class="mt-2 spray gray">
      recent nightmares:
    </h2>
    <ul>
      {{#each nightmareData as |nightmare|}}
        <li class="item">
          <h3>
            {{dataValues.title}}
          </h3>
          <h4>
            {{dataValues.createdAt}}
          </h4>
          <p>
            {{dataValues.description}}
          </p>
        </li>
      {{/each}}
    </ul>
  </section>
</div>

<script src="./js/login.js"></script>