<div class="row">
  <aside class="userView col-2">
    <h2>
      my dreams:
    </h2>
    <ul>
      {{! we need a function to generate the dreams based on used id matching the logged in user }}
      <ul>
        {{#each userDreamsData.dreams as |userDreams|}}
          <li>
            <h3>
              {{dataValues.title}}
            </h3>
            <h4>
              {{dataValues.createdAt}}
            </h4>
            <p>
              {{dataValues.description}}
            </p>
          </li>
        {{/each}}
      </ul>

      <ul>
        {{#each userNightmareData.nightmares as |userNightmare|}}
          <li>
              <h3>
                  {{dataValues.title}}
              </h3>
              <h4>
                  {{dataValues.createdAt}}
              </h4>
              <p>
                  {{dataValues.description}}
              </p>
          </li>
        {{/each}}
      </ul>
    </ul>
  </aside>
  <section class="posts col-8 border-left border-right">
    <h2>
      recent dreams:
    </h2>
    <ul>
            {{#each dreamsData as |dream|}}
            <li>
                <h3>
                    {{dataValues.title}}
                </h3>
                <h4>
                    {{dataValues.createdAt}}
                </h4>
                <p>
                    {{dataValues.description}}
                </p>
            </li>
            {{/each}}
        </ul>
        <h2 class="mt-2">
            recent nightmares:
        </h2>
        <ul>
            {{#each nightmareData as |nightmare|}}
            <li>
                <h3>
                    {{dataValues.title}}
                </h3>
                <h4>
                    {{dataValues.createdAt}}
                </h4>
                <p>
                    {{dataValues.description}}
                </p>
            </li>
            {{/each}}
        </ul>
  </aside>
</div>