<div class="row">
  <aside class="col-2 bodyBackground mt-3">
    <h3 class="spray gray">
      my dreams:
    </h3>
    <ul>
      {{#each userDreamsData.dataValues.dreams as |userDreams|}}
        <li class="item">
          <h4>
            {{dataValues.title}}
          </h4>
        </li>
      {{/each}}
    </ul>
    <h3 class="spray gray">
      my nightmares:
    </h3>
    <ul>
      {{#each userNightmareData.dataValues.nightmares as |userNightmare|}}
        <li class="item">
          <h4>
            {{dataValues.title}}
          </h4>
        </li>
      {{/each}}
    </ul>
  </aside>
  <section class="col-8 bodyBackground border-left border-right mt-3 box">
    <h2 class="spray gray">
      recent dreams:
    </h2>
    <ul>
      {{#each dreamsData as |dream|}}
        <li class="item">
          <h3>
            {{dataValues.title}}
          </h3>
          <h4>
            {{dataValues.createdAt}}
          </h4>
          <p>
            {{dataValues.description}}
          </p>
        </li>
      {{/each}}
    </ul>
    <h2 class="mt-2 spray gray">
      recent nightmares:
    </h2>
    <ul>
      {{#each nightmareData as |nightmare|}}
        <li class="item">
          <h3>
            {{dataValues.title}}
          </h3>
          <h4>
            {{dataValues.createdAt}}
          </h4>
          <p>
            {{dataValues.description}}
          </p>
        </li>
      {{/each}}
    </ul>
  </section>
  <aside class="col-2 bodyBackground mt-3">
    <h2 class="spray gray">
      the stream:
    </h2>
    <ul>
      {{#each usersData as |user|}}
        <li class="item">
          <h4>
            {{dataValues.username}}
          </h4>
        </li>
      {{/each}}
    </ul>
  </aside>
</div>